<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Money Tracker App</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <section>
      <h1>Money Tracker App</h1>
      <span class="about-home"
        ><Button><a href="/about">About</a></Button></span
      >
      <form action="/add" method="post" id="add-form">
        <div class="input-div">
          <label for="category"> Choose Category : &nbsp;</label>
          <div class="category">
            &nbsp;
            <input
              type="radio"
              name="category"
              id="expense"
              value="expense"
              required
            />
            <label for="expense">Expense</label>
            <input
              type="radio"
              name="category"
              id="income"
              value="income"
              required
            />
            <label for="income">Income</label>
            &nbsp;
          </div>

          <input
            type="number"
            name="amount"
            id="amount"
            placeholder="Enter the Amount (in ₹)"
            required
          />

          <input type="text" name="info" placeholder="Enter Info" required />

          <input type="date" name="date" required />
          <button type="submit" id="add-btn">Add</button>
        </div>
      </form>
    </section>

    <section>
      <h2>Income and Expenses</h2>
      <div class="output-div">
        <table>
          <thead>
            <tr class="output-div-head">
              <th>Category</th>
              <th>Amount (in ₹)</th>
              <th>Info</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% let total = 0 %> <% for( let i = 0; i < data.length; i++ ) { %>
            <% const {category, amount, info, date , _id} = data[i] %>

            <tr class="output-div-body">
              <td>
                <%= category.charAt(0).toUpperCase() + category.slice(1) %>
              </td>

              <% if (category == "expense") { %>
              <td><b class="minus">(-) </b><%= amount %></td>
              <% } else { %>
              <td><b class="plus">(+) </b> <%= amount %></td>
              <% } %>

              <td><%= info.charAt(0).toUpperCase() + info.slice(1) %></td>
              <td><%= date %></td>

              <td class="delete-btn-td">
                <form action="/delete/<%=_id%>?_method=DELETE" method="post">
                  <button class="delete-btn">Delete</button>
                </form>
              </td>
            </tr>
          </tbody>

          <% if (category == "expense") {%> <% total -= amount %> <% } else if
          (category == "income") { %> <% total += amount %> <% } %> <% } %>
          <tfoot>
            <td>Total (in ₹)</td>
            <td><b class="net"> <%= total %></b></td>
          </tfoot>
        </table>
      </div>
    </section>

    <script src="scripts/index.js"></script>
  </body>
</html>
